<section *ngIf="!isBrowserSupported" class="browser-warning">
  <p>Your browser does not support the Web Speech API. Try this page in Chrome.</p>
</section>

<form *ngIf="isBrowserSupported" [formGroup]="prompterForm"
      [hidden]="prompterIsActive"
      novalidate>
  <div class="prompter-input-wrapper">
    <div class="form-field">
      <label for="inputText" class="sr-only">Prompter Text</label>
      <textarea id="inputText"
                class="prompter-input"
                cols="30"
                rows="10"
                formControlName="inputText"></textarea>
    </div>

    <div class="form-buttons">
      <button type="button"
              class="prompter-start-button"
              (click)="startClick()">Start Reading</button>
    </div>
  </div>
</form>

<section class="prompter-wrapper" [hidden]="!prompterIsActive">
  <div #prompterBoard class="prompter-board">
    <span class="word"
          *ngFor="let word of prompterWords; let i = index"
          [ngClass]="{
            'passed': i < cursorPosition,
            'next': i >= cursorPosition && i < cursorPosition + 5 }"
          (click)="wordClick($event, i)">{{ word }} </span>
  </div>

  <div class="actions" [hidden]="!prompterIsActive">
    <span class="actions-context">
      <button type="button"
              (click)="togglePlayPauseClick()"
              [innerHTML]="prompterIsPaused ? 'Play' : 'Pause'"></button>
    </span>

    <span class="actions-options">
      <button type="button" (click)="doneClick()">Done</button>
    </span>
  </div>
</section>
