// ==-- Variables --==

// Spacing
$spacer-100: 1rem;
$spacer-200: 2rem;
$spacer-300: 3rem;

// Color
$color-highlight: #ffff92;

$color-black: #000;
$color-gray-20: #333;
$color-gray-30: #4c4c4c;
$color-gray-90: #e6e6e6;
$color-white: #fff;

// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-100: 1rem;
$font-120: 1.2rem;
$font-200: 2rem;

$font-normal: 400;
$font-bold: 700;

$line-height-100: 1;
$line-height-140: 1.4;
